@use '../../sass/abstracts/variables' as *;
@use '../../sass/abstracts/mixins' as *;

// Styles pour mobile (base)
.container {
    @include flex($justifyContent: center, $alignItems: center, $orientation: column);
    gap: 113px;
    @include padding(113px 0);
}

.h1 {
    @include textStyle(
        $fontWeight: 700,
        $fontSize: 6rem,
        $color: $background-color,
    );
    line-height: 1;
    margin: 0;
    padding: 0;
}

.h2 {
    @include textStyle(
        $fontSize: 1.125rem,
        $color: $background-color,
        );
    text-align: center;
}

span {
    display: block; // force à aller à la ligne
  }

.p {
    text-decoration: none;
    @include textStyle($fontSize: 0.875rem);
    transition: text-decoration 0.3s ease;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}

// Styles pour desktop et plus grand
@media screen and (min-width: 1024px) {

    .container {
        gap: 139px;
    }

    .h1 {
        @include textStyle(
            $fontWeight: 700,
            $fontSize: 18rem,
            $color: $background-color,
        );
        line-height: 1;
	    margin: 0;
	    padding: 0;
    }

    
    .h2 {
        @include textStyle(
            $fontSize: 2.25rem,
            $color: $background-color,
        );
        text-align: center;
    }

    span {
        display: inline;
    }
    
    .p {
        @include textStyle($fontSize: 1.125rem);
    }
 }

