@use '../../sass/abstracts/variables' as *;
@use '../../sass/abstracts/mixins' as *;

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // 3 colonnes égales
  gap: 30px; // espace entre les cartes
  justify-content: center;
}

// Styles pour mobile (base)
.card {
  display: block; // Comme <Link> rend un <a>, il faut lui dire en CSS de se comporter comme un bloc
  width: 100%; // prend toute la largeur disponible du container
  margin: 0 auto; // centre la card si max-width est atteinte
  height: 255px;
  @include border($borderRadius: 10px);
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(10, 10, 10, 0) 42%,
      rgba(4, 4, 4, 0.205) 99.99%,
      rgba(0, 0, 0, 0.5) 100%
    ),
  $background-color;
  overflow: hidden; 
  position: relative;
  }

.img {
    @include dimension($width: 100%, $height: 255px);
    position: absolute;
    object-fit: cover;
    
  height: calc(95% - 50px); // laisse 40px en bas pour le titre
}



.h1 {
   position: absolute;
  bottom: 15px;        // distance par rapport au bas de la card
  left: 10px;          // distance par rapport à gauche
  width: 250px;        // largeur fixe pour limiter le texte sur 2 lignes
  margin: 0;           // supprime toute marge
  padding: 0;          // supprime padding
  line-height: 1.2em;  // hauteur d’une ligne
  max-height: 2.4em;   // exactement 2 lignes
  overflow: hidden;     // cache tout texte supplémentaire
  text-align: left;

  @include textStyle(
    $fontWeight: 700,
    $fontStyle: bold,
    $fontSize: 1.125rem,
    $color: #fff
  );
}

// Styles pour desktop et plus grand
@media screen and (min-width: 1024px) {
  .card {
     margin-top: 20px;
  margin-bottom: 20px;
    height: 340px; // on garde la hauteur fixe
  width: 100%; // prend toute la largeur de sa colonne automatiquement
  }

  .h1 {
    top: 280px;
    text-align: left;
  }
}
