@use '../../sass/abstracts/variables' as *;
@use '../../sass/abstracts/mixins' as *;

// Styles pour mobile (base)
.box {
    @include dimension($width: 100%, $height: auto);
    background-color: rgba(246, 246, 246, 1);
    @include border($borderRadius: 5px);
    overflow: hidden;
}

.toggleBar {
	background-color: $background-color;
	@include dimension($width: 100%, $height: 30px);
	@include flex($justifyContent: space-between, $alignItems: center);
	text-align: center;
	@include padding(0 15px);
	@include border($borderRadius: 5px);

	@media screen and (min-width: 1024px) {
		@include dimension($width: 100%, $height: 52px);
		@include border($borderRadius: 10px);
	}
}

.toggleBarH2 {
    @include textStyle(700, bold, 0.813rem, $font-text, #fff);
}

.iconWrapper {
	@include flex();
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.chevron {
    color: #fff;
	display: inline-block;
	@include dimension($width: 16px);
	transform-origin: center center;
	transition: transform 0.4s ease-in-out;

    @media screen and (min-width: 1024px) {
		@include dimension($width: 32px); // taille desktop
	}
}

.rotate {
	transform: rotate(-180deg);
}

.content {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}

.open {
	@include textStyle(400, normal, 0.75rem);
	 max-height: 500px; 
	opacity: 1;
	
}

.closed {
	opacity: 0;
	max-height: 0;
}

// Styles pour desktop et plus grand
@media screen and (min-width: 1024px) {

    .box{
        @include dimension($width: 100%);
        @include border($borderRadius: 10px);
    }

    .toggleBar{
        @include dimension($width: 100%, $height: 52px);
    }

    .toggleBarH2 {
        @include textStyle(700, bold, 1.5rem, $font-text, #fff);
    }

}